@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: all .1s;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --button-text-color: #fff ;
    --button-bg-color: #00853B; 
}
  
html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    margin: 0;
}

::-webkit-scrollbar-track {
    background: var(--button-text-color);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--button-bg-color);
    border-radius: 30px;
}

h1 {
    color: #204E37
}

.product-card {
    padding: 1rem;
    margin: 1rem;
    background: #e2e2e2;
    border: 1px solid #6f6f6f;
    border-radius: 15px;
}

/* LOADER */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 99999;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.spin {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.spin::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #204E37;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100% {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* NAVBAR */

.navbar {
    background: linear-gradient(45deg, #204E37, #00853B);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 1.5rem;
    height: 7rem;
    padding: 0 3rem;
    justify-content: space-between;
}
.nav-logo {
    color: #ffff;
    font-weight: 800;
}

.nav-logo img {
    width: 10.5rem;
}

.nav-btn {
    color: #ababab;
    border: 1.5px solid #515151;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    background: transparent;
    border-radius: 25px;
}
.nav-btn:not(:last-child) {
    margin-right: .5rem
}
.nav-btn:hover {
    text-decoration: none;
}
.nav-btn:hover:not(.nav-active) {
    opacity: .6;
    color: #667777;
}
.nav-active {
    color: var(--button-text-color) !important;
    background: var(--button-bg-color) !important;
    border: none;
}
.nav-user {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.active-user-nav {
    display: flex;
    align-items: center;
}
.nav-user span {
    color: #C2C2C2;
    margin-right: .5rem
}
.expand-user-nav {
    position: absolute;
    display: flex;
    background: #383838;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    transform: translate(-6px, 37px);
}
.nav-user:hover {
    cursor: pointer;
}
.user-avatar {
    width: 30px;
    height: 30px;
    background: #C2C2C2;
    border-radius: 25px
}

/* INFO BOX */

.primary-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 6rem 3rem 6rem;
}

.primary-info .info-container {
    backdrop-filter: blur(5px);
    border: none;
    background: linear-gradient(90deg, #00853B12, #00853B2b);
    display: flex;
    flex-direction: row;
    width: 26%;
    padding: 1.8rem;
    border-radius: 25px;
    margin-right: 0;
    justify-content: space-between;
}

.primary-info .info-container:last-child {
    margin-right: 0;
}

.label-box {
    display: flex;
    color: #dddddd;
    font-size: 11pt;
    flex-direction: column;
    font-weight: 500;
}

.label-box span {
    color: #00853B;
    background: #00853B1c;
    border-radius: 11px;
    padding: 6px;
    width: 1.56rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(314deg, #00853B00, #00853B17);
    width: 8rem;
    height: 8rem;
    border-radius: 1.8rem;
    border: 2px solid #00853B2e;
    font-size: 22pt;
    color: #fff;
    font-weight: 600;
}

/* CHARTS */

.info {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}
.info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
    border: 1px solid #383838;
    margin-right: 3rem;
    border-radius: 20px;
}
.charts-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 15rem;
    padding: 1rem 2rem 0rem 2rem;
    backdrop-filter: blur(5px);
    border: 1px solid #383838;
    border-radius: 20px;
}

h4 {
    font-size: 14pt;
    font-weight: 500;
    color: #EDEDED;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
}
.charts {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.chart-01 {
    display: flex;
    flex-direction: column;
    width: 100%
}

.bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.bar-item {
    display: flex;
    align-items: center;
}
.label {
    font-size: 11pt;
    color: #BCBEC2;
    width: 100px;
    margin-bottom: 0.2rem;
}
.bar-item .label {
    color: #EDEDED;
}
.bar-fill {
    width: 0;
    height: 15px;
    background-color: blue;
    border-radius: 0 20px 20px 0;
    margin-right: 0.5rem;
}

.chart-02 {
    transform: translateY(-1rem);
}

/* Charts empty */

.chart-01.chart-empty {
    width: 47% !important;
}

.chart-empty {
    opacity: .6;
}

.chart-empty .label {
    width: 4rem;
    height: 0.8rem;
    background: #3e3f41;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.chart-empty .bar {
    margin-bottom: 20px;
}

.chart-empty .bar-fill {
    width: 7rem;
    height: 15px;
    background-color: #3e3f41;
    border-radius: 20px;
    margin-right: 0.5rem;
}


.chart-empty.chart-02 {
    width: 13rem;
    height: 13rem;
    border-radius: 10rem;
    background: #3e3f4140;
    transform: translate(3.5rem, -2.5rem);
} 

/* TABLE */

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem 1rem 6rem;
}

.main-container h1 span {
    color: gray;
    font-size: 11pt;
    font-weight: 500;
    margin-left: 0.2rem;
  }

.main-btn {
    display: flex;
    align-items: center;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    padding: 0.2rem 2rem;
    border-radius: 6px;
    border: none;
    font-size: 11pt;
}

.main-btn .material-icons {
    margin-right: .4rem;
    font-size: 20px;
}

._modal_add_open{
    margin-left: 0.5rem;
}

.main-btn.trash {
    width: 110px !important;
}

.main-btns {
    display: flex;
}

.main-btn:hover {
    opacity: .6;
    cursor: pointer;
}

.main-container-action {
    color: #00000082;
    display: flex;
    align-items: center;
}
.action-btn {
    color: #00000082;
    padding: 0.3rem;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.action-btn:hover {
    cursor: pointer;
    opacity: .5;
}

.table-container {
    display: flex;
    align-items: center;
    margin: 0 4rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}

th:first-child {
    border-radius: 20px 0 0;
}

th:last-child {
    text-align: center;
    border-radius: 0 20px 0 0;
}

tbody tr:hover {
    background: #3d3d3d24;
}

tbody tr:hover td .danger {
    animation: none;
}

th,
td {
    font-size: 10pt;
	padding: 1px 8px;
    color: #434343;
}

td:nth-child(7) {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr:first-child {
    padding: 3px 8px !important;
}

tr:not(:first-child):hover {
    background: #efefef;
}

.product-item {
    display: flex;
    align-items: center;
}

.product-item a {
    color: #434343;
}

tbody tr {
    backdrop-filter: blur(5px); 
    box-shadow: inset 0 0 0 1px #00000017;
}

td:not(:first-child) {
    height: 48px;
}

td img {
    border-radius: 17px;
    background: #fff;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
}

td a {
color: #00000082;
}

td a:hover {
    opacity: .7;
}

td .validity-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

th {
    color: #00000082;
	text-align: left;
    /* background: #0000000d; */
    backdrop-filter: blur(5px);
    font-weight: 400;
    padding-bottom: 1rem;
}

td .danger {
    animation: pulse-danger 1.5s infinite;
}

@keyframes pulse-danger {
    0% {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
    50% {
        text-shadow:  0 0 10px rgb(255 67 67 / 51%), 0 0 20px rgb(255 67 67 / 51%), 0 0 40px rgb(255 31 31);
    }
    100% {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
}

.empty-product {
    display: flex;
    margin-top: 2rem;
    color: #00000082;
    justify-content: center;
}

/* validity */

.validity-card img {
    border-radius: 50px;
    background: #fff;
    width: 2rem;
    height: 2rem;
    filter: grayscale(1);
}

.validity-card .product-item {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.validity-card:nth-child(3) {
    opacity: .5;
}
.validity-card:nth-child(4) {
    opacity: .2;
}

.image-container {
    display: flex;
    border: 2px solid #464646;
    border-radius: 50px;
    overflow: hidden; 
    padding: 3px;
    margin-right: 0.5rem;
}

.success {
    color: #34d65c !important;
    border-color: #34d65c !important;
}

.warning {
    color: #ffa700 !important;
    border-color: #ffa700 !important;
}

.danger {
    color: #ff3434 !important;
    border-color: #ff3434 !important;
}

.validity-label {
    display: flex;
    align-items: center;
}

.validity-label {
    color: #fff;
}

.validity-label p {
    margin: 0;
    font-size: 10pt;
    color: #BCBEC2;
}

.validity-label span {
    max-width: 22rem;
    overflow: hidden;
}

.validity-status {
    color: #ff3434;
    border: 1px solid #ff3434;
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
}

/* Hidden Card  */

.hidden-empty.product-item {
    opacity: .2;
}

.hidden-empty .img {
    border-radius: 50px;
    background: #3e3f41;
    width: 2rem;
    height: 2rem;
    filter: grayscale(1);
}

.hidden-empty p:nth-child(1) {
    width: 6rem;
    height: .8rem;
    background: #3e3f41;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.hidden-empty p:nth-child(2) {
    width: 4rem;
    height: .5rem;
    background: #3e3f41;
    border-radius: 1rem;
}

.hidden-empty .validity-status {
    color: #3e3f41;
    border-color: #3e3f41;
    height: .6rem;
    width: 4rem;
    background: #3e3f41;
}

.hidden-empty .image-container {
    border: none;
}

  /* menu add */
.add-section {
    display: flex;
    margin: 0 4.5rem;
    justify-content: center;
}

.add-container {
    display: flex;
    flex-direction: column;
    width: 53vw;
    /* width: 45vw;
    height: 50vh; */
    padding: 2rem;
    background: #fff;
    margin: 0 1.5rem;
    border-radius: 10px;
    z-index: 1;
}

.add-container .main-btn {
    width: 102px;
}

.add-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-label h1 {
    font-size: 20pt;
    margin: 0;
}
.add-label span {
    color: #00000082;
}

.add-label span:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-row {
    display: flex;
    justify-content: space-between;
}

.add-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.add-field label {
    font-size: 11pt;
    color: #FFF;
    margin-bottom: .4rem;
}

input {
    color: #797979;
    background: transparent;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #b8b8b8;
    width: 10vw;
    padding: 9px 15px;
}

input[type="text"]:hover {
    cursor: text;
    border: 1px solid #b8b8b8;
}

input[type="text"]:focus {
    border: 1px solid #b8b8b8;
}

input[type="date"]:hover, input[type="file"]:hover, select:hover {
    cursor: pointer;
}


input::placeholder {
    color: #797979;
}

input:focus-visible {
    border: 1px solid #b8b8b8;
    outline: none;
}

select {
    color: #797979;
    background: transparent;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    padding: .5rem;
}

select:focus-visible {
    border: 1px solid #b8b8b8;
}

option {
    color: #797979;
    background: transparent;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    padding: .5rem;
}
input[type="date"] {
    padding: .35rem;
}
::-webkit-calendar-picker-indicator{
    color: #00000082;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.nav-user1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-user1 p {
    margin-right: 1rem;
    font-size: 18pt;
    color: #00000082;
}
.download-btn:hover {
    opacity: .7;
    cursor: pointer;
}
.nav-user1 span {
    font-size: 11pt;
}
.display-user-nav1 {
    margin-right: .1rem;
    margin-left: .1rem;
}
.display-user-nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
.ativo {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    display: flex;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
}
.ativo span {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}
.inativo {
    color: #ababab;
    display: flex;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
}
.inativo:hover img {
    filter: grayscale(1) brightness(.7);
    cursor: pointer;
}
.inativo span {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}
.inativo img {
    filter: grayscale(1) brightness(0.5);
}
.set-resp {
    background: transparent;
    border: none;
    padding: 0;
}

.add-modal {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(16 16 16 / 58%);
    box-sizing: border-box;
    z-index: 100;
}


.products-viewer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 6rem;
}
.viewer-container {
    display: flex;
}
.viewer-container:not(:last-child) {
    margin-right: 1.5rem
}
.viewer-image {
    width: 15rem;
    height: 13rem;
    padding: 2rem;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.viewer-image b {
    color: #262728;
    text-shadow: 
           -1px -1px 0px #FFF, 
           -1px 1px 0px #FFF,                    
            1px -1px 0px #FFF,                  
            1px 1px 0px #FFF;
    position: absolute;
}

.viewer-image .viewer-product_image.editor-viewer {
    position: absolute;
    height: 200px;
    z-index: -1;
    opacity: 0.3;
    filter: grayscale(1);
}

.viewer-image .viewer-product_image {
    background: #fff;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    
}


.viewer-image .viewer-label img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: translate(0.3rem, 5.8rem);
    border-radius: 15px;
}
.viewer-amount {
    color: var(--button-text-color);
    font-weight: 600;
    position: absolute;
    background: var(--button-bg-color);
    transform: translate(50px, 100px) skew(-12deg);
    padding: 0.1rem 1rem;
    border-radius: 5px;
}
.viewer-name, .viewer-name a {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 14pt;
    align-items: center;
    overflow: hidden;
}

.viewer-name a:hover {
    opacity: .7;
}

.viewer-name p {
    margin-left: .2rem;
    color: #6E6F6F;
    font-weight: 400;
    font-size: 12pt;
}
.viewer-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.viewer-date {
    font-size: 12pt;
    font-weight: 500;
}
.viewer-validity {
    font-size: 10pt;
    color: #6f6e6e54;
}
.viewer-btns .material-icons {
    color: #00000082;
    font-size: 20px;
}
.viewer-btns a:hover {
    opacity: .5;  
}



/* NOVO */

#pdf-creator-btn {
    color: #00000082;
    padding: 0.3rem;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 0;
}

#pdf-creator-btn:hover {
    cursor: pointer;
}

input#search_item { 
    margin-left: .5rem;
    border: 1px solid #b8b8b8;
    width: 22vw;
    padding: 9px 9px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2300000082' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

input#search_locate_item { 
    margin-left: .5rem;
    border: 1px solid #b8b8b8;
    width: 20vw;
    padding: 9px 40px 9px 9px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2300000082' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right 13px center;
}

.bi-search {
    fill: "#b8b8b8"
}

.products-interaction {
    justify-content: space-between;
    display: flex;
    margin: 1.5rem 4rem;
}
.group-interaction {
    display: flex;
}


.products-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.products-filter {
    width: 30vw;
    background: #fff;
    border: solid .7rem #EBEBEB;
    border-radius: 10px;
}


td:hover {
    cursor: pointer;
}

.viewer-text-container {
    display: flex;
    margin-left: 2rem;
}
.viewer-section:first-child {
    margin-right: 7rem;
}
.viewer-section:last-child {
    margin-right: 2rem;
}
.viewer-text:not(:last-child) {
    padding-bottom: 1.3rem;
}
.title-text {
    color: #00000082;
    font-size: 10pt;
    margin-bottom: 0.2rem;
}
.info-text {
    color: #434343;
    font-size: 12pt;
    font-weight: 500;

}
.viewer-about {
    margin-bottom: 1rem
}




.viewer-text {
    display: flex;
    flex-direction: column;
}

.form-section.viewer-section:first-child  {
    margin-right: 2rem;
}

.form-btn {
    width: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: #00853B;
    padding: 0.2rem 1.5rem;
    border-radius: 6px;
    border: none;
    font-size: 11pt;
    margin-top: 1rem;
}

.form-btn:hover {
    cursor: pointer;
    opacity: .6;
}



/*  */



.drop-zone {
    margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    flex-direction: column;
	font-weight: 500;
	font-size: 13pt;
	cursor: pointer;
	color: #9c9a9a;
    border: 1px dashed #b8b8b8;
	border-radius: 10px;
}

.drop-zone .support {
  font-size: 9pt;
  color: #9c9a9a;
  margin: 10px 0 15px 0;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 11vw;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #ececec;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
    background: rgb(0 0 0 / 41%);
    backdrop-filter: blur(5px);
	font-size: 14px;
	text-align: center;
}

.dropdown {
    position: relative;
    width: fit-content;
  }
  
  .dropdown-btn {
      color: #00000082;
      padding: 0.3rem;
      border: 1px solid #b8b8b8;
      border-radius: 5px;
      margin: 0;
      cursor: pointer;
  }
  
  .dropdown-btn:hover {
      background-color: #fff;
  }
  
  .dropdown-list {
      display: none;
      position: absolute;
      border: solid 1px #c9c7c7;
      padding: .5rem;
      top: 37px;
      width: 220px;
      right: -100px;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      z-index: 1;
      box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.1);
  }
  
  .dropdown-list.active {
      display: block;
  }
  
  .dropdown-list-item {
      display: flex;
      align-items: center;
      font-size: 10pt;
      font-weight: 500;
      color: #6a6a6a;
      padding: 0.5rem 0rem 0.5rem 1rem;
  }
  
  .dropdown-list-item span {
      font-size: 16pt;
      margin-right: .5rem;
  }
  
  .dropdown-list-item:hover {
      cursor: pointer;
      background-color: #ddd;
      border-radius: 5px;
  }

  #status_danger {
    color: #ff3434;
  }
  #status_warn {
    color: #f58207;
  }
  #status_regular {
    color: #797979;
  }
  #status_good {
    color: #2182ff;
  }
  #status_nice {
    color: #31af50;
  }

  .filmap:hover {
    opacity: .2;
}
.map-section {
    margin: 0 6rem;
    display: flex;
    justify-content: space-between;
}
.floor-items {
    display: flex;
    flex-direction: column;
}
.floor-select {
    display: flex;
    flex-direction: column;
}
.floor-btn {
    border: solid 2px #00853B;
    color: #00853B;
    background: #ffff;
    padding: 0.6rem 2rem;
    border-radius: 0.4rem
}

.floor-btn:last-child {
    font-weight: 500;
    margin-top: .5rem;
}
.active-floor-btn {
    color: #fff;
    background: #00853B;
}
.map_floor_view {
    cursor: grab;
    color: white;
    display: none;
}
.active-map-floor {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, rgba(0, 0, 0, 0.1) 1px, transparent 8px), repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, 0.1) 1px, transparent 8px);
    background-size: 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: block !important;
}

.floor-title {
    font-size: 13pt;
    font-weight: 700;
    color: #204E37;
    margin-bottom: 1rem;
}

.viewer-actions {
    display: flex;
    justify-content: flex-end;
}
.actions-itens span {
    color: #00000082;
    padding: 0.3rem;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 0;
}
.actions-itens span:hover  { 
    opacity: 0.7;
    cursor: pointer;
}

.logout-user {
    color: #fff;
    cursor: pointer;
}


/* LOGIN */

.login-container {
    background-image: url('https://sigenovo.seduc.ce.gov.br/static/media/bg_body.de1c5bb0.jpg');
    background-position: 100%;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.login-section {
    height: 100%;
}
.login-section:first-child {
    background: linear-gradient(180deg, #204E37, #00853B);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.login-section:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 15rem;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login-container img {
    width: 12rem;
}
.login-input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.login-input-box label {
    font-size: 11pt;
    margin-bottom: .5rem;
}
.login-input {
    width: 20rem;
}
.login-form input {
    padding: 12px 15px;
}
.login-form input:hover {
    opacity: .9;
}
.login-btn {
    color: #fff;
    background: #00853B;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 500;
    border: none;
}
.login-container h1 {
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: .2rem;
}
.login-container span {
    font-size: 11pt;
    color: #9d9d9d;
    margin-bottom: 2rem;
}
.login-container .danger-input{
    color: red;
    margin-bottom: 1rem;
}



/* MOBILE */

@media only screen and (max-width: 1000px) {

    /* LOADER */

    .spin {
        width: 10rem;
        height: 10rem;
    }

    .spin::before {
        border: 1rem solid #204E37;
    }

    /* NAVBAR */

    .navbar {
        height: 12rem;
    }

    .nav-logo img {
        width: 18.5rem;
    }

    .logout-user span {
        font-size: 35pt;
    }

    /*  */
    .main-container {
        flex-direction: column;
        margin: 0 6rem 5rem 6rem;
    }
    .main-container h1 {
        font-size: 50pt;
        margin-bottom: 0;
    }
    .main-container h1 span {
        font-size: 20pt;
    }
    input#search_locate_item {
        margin-top: 3.5rem;
        width: 70vw;
        padding: 30px 50px;
        font-size: 20pt;
        border-radius: 10px;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%2300000082' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right 40px center;
    }

    .map-section {
        margin: 0;
        flex-direction: column-reverse;
    }

    .floor-title {
        font-size: 30pt;
    }

    .floor-select {
        width: 100%;
        flex-direction: row;
    }

    .floor-btn {
        width: 100%;
        font-size: 25pt;
        padding: 20px 50px;
    }

    .floor-btn:last-child {
        margin-left: 1rem;
        margin-top: 0;
    }

    .floor-items {
        margin: 0 6rem 8rem 6rem;
    }

    .active-map-floor {
        display: flex !important;
        justify-content: center;
    }

    .map_floor_view svg {
        width: 100% !important;
    }

    /*  */

    input#search_item {
        padding: 20px 30px 20px 70px;
        font-size: 20pt;
        border-radius: 10px;
        width: 70vw;
        margin: 0;
        margin-right: 1rem;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%2300000082' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 25px center;
    }

    #pdf-creator-btn {
        padding: 20px 20px;
        font-size: 36pt;
        border-radius: 10px;
    }

    .main-btn {
        padding: 20px 50px;
        font-size: 20pt;
        border-radius: 10px;
        width: 20vw;
    }

    .main-btn .material-icons {
        font-size: 25pt;
    }

    ._modal_add_open {
        margin-left: 1rem;
    }

    .dropdown-list {
        top: 85px;
        padding: 1.5rem;
        width: 360px;
    }

    .dropdown-list-item {
        padding: 0.5rem 0rem 1rem 1rem;
        font-size: 20pt;
    }

    .dropdown-list-item span {
        font-size: 26pt;
        margin-right: 1.5rem;
    }

    /*  */

    .products-container {
        margin-top: 5rem;
    }

    .viewer-container {
        flex-direction: column;
    }

    .title-text {
        font-size: 18pt; 
    }

    .add-label span {
        font-size: 30pt;
    }

    .add-label h1 {
        font-size: 30pt;
    }

    .add-container {
        width: 80vw;
    }

    .drop-zone {
        margin: 2rem 0;
        font-size: 20pt;
        border: 1px solid #b8b8b8;
    }

    .drop-zone .support {
        font-size: 15pt;
    }

    .viewer-image {
        width: auto;
    }

    .viewer-text {
        padding-bottom: 1.3rem;
    }

    .viewer-text input {
        width: auto;
        padding: 20px;
        font-size: 20pt;
        border-radius: 10px;
    }

    .viewer-text select {
        width: auto;
        padding: 20px;
        font-size: 20pt;
        border-radius: 10px;
    }

    .viewer-text-container {
        flex-direction: column;
        margin: 0;
    }
    .viewer-container:not(:last-child) {
        margin: 0;
    }

    .form-section.viewer-section:first-child {
        margin: 0;
    }

    .viewer-section:last-child {
        margin: 0;
    }

    .form-btn {
        justify-content: center;
        padding: 20px 50px;
        font-size: 20pt;
        border-radius: 10px;
        width: 100%;
    }

    .form-btn span {
        font-size: 26pt;
        margin-right: .5rem;
    }


    /*  */

    .info-text {
        font-size: 22pt;
    }

    #modal_view .viewer-image {
        margin-bottom: 2rem;
    }

    #modal_view .viewer-text-container {
        margin-left: 2rem;
        flex-direction: row;
    }

    .actions-itens span {
        padding: 20px 20px;
        font-size: 36pt;
        border-radius: 10px;
        margin-left: 0.5rem;
    }

    th:nth-child(6), td:nth-child(6), tr:nth-child(6), th:nth-child(5), td:nth-child(5), tr:nth-child(5), th:nth-child(4), td:nth-child(4), tr:nth-child(4) {
        display: none
    }

    th:nth-child(2), th:nth-child(3)  {
        width: 30vw !important;
    }

    td .material-symbols-outlined {
        font-size: 28pt;
    }

    th, td {
        padding: 20px 8px;
        font-size: 18pt;
    }


    /* LOGIN */
    .login-container {
        flex-direction: column;
    }
    .login-container img {
        width: 23rem;
    }
    .login-container h1 {
       font-size: 56pt; 
    }
    .login-container span {
       font-size: 24pt; 
    }
    .login-section:first-child {
        height: 20rem;
        width: 100%;
    }
    .login-section:last-child {
        justify-content: flex-start;
        margin: 5rem;
    }
    .login-form input {
        padding: 30px 50px;
        font-size: 25pt;
        border-radius: 10px;
    }
    .login-input-box {
        margin-bottom: 1rem;
    }
    .login-input {
        width: 70vw;
    }
    .login-btn {
        width: 100%;
    }
    .login-container .danger-input {
        font-size: 20pt;
    }
}